@import url("https://fonts.googleapis.com/css2?family=Lato&family=Nunito&family=Source+Sans+Pro&display=swap");

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
  font-family: "Nunito";
}

.footer_content {
  font-size: 16px;
}

@media all and (min-width: 600px) {
  .footer_content {
    font-size: 18px;
  }
}
@media all and (min-width: 900px) {
  .footer_content {
    font-size: 21px;
  }
}
